.footer {
    
    background-color: rgb(29, 27, 27);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2rem 0; /* Added more vertical padding for better spacing */
}

.footer a {
    text-decoration: none;
    color: white; /* Changed for better visibility */
    transition: color 0.3s; /* Smooth transition for hover effects */
}

.footer a:hover {
    color: #b70101; /* UW Madison red for hover */
}

.upper-footer {
    display: flex;
    justify-content: space-around; /* Adjusted for even spacing around items */
    align-items: center;
    flex-wrap: wrap; /* Allows for wrapping on smaller screens */
}

.upper-footer-links h4 {
    text-decoration: underline;
    margin-bottom: 0.5rem; /* Added a little space below the heading */
    font-size: 1.5rem; /* Adjusted font size */
    color: #bc5858;
}

.upper-footer-links a p {
    margin: 0.25rem 0;
}

.upper-footer-text p {
    font-size: 2rem; /* Made smaller for balance */
    margin: 0; /* Reset margin */
}



hr {
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, #999, #fff, #999);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    margin: 1rem 0; /* Adjust top and bottom margin as needed */

}
  
.footer-below {
    display: flex;
    justify-content: center; /* Changed to space-between for even distribution */
    align-items: center;
    margin-top: 1rem; /* Added space between upper and lower footer */
}

.footer-below-cd-ds {
    font-size: 1.5rem; /* Smaller font size for consistency */
    margin-right: 3rem;
    margin-left: 30rem;
}

/* Align items in .footer-below-uw and make copyright smaller and to the right */
.footer-below-uw {
    flex: 3; /* Flex value to distribute space */
    display: flex;
    justify-content: space-between; /* This will align the copyright to the right */
    align-items: center;
}

.footer-below-uw img {
    width: 10rem; /* Adjusted image size for balance */
    height: auto;
}

/* Add class for the copyright paragraph */
.source-org-copyright {
    font-size: 0.75rem; /* Smaller font size */
    text-align: right; /* Align text to the right */
    margin-right: 1rem; /* Adjust margin as needed */
}


/* Improved media query for responsive design */
@media (max-width: 768px) {
    .upper-footer,
    .footer-below {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .upper-footer-text p,
    .footer-below-cd-ds,
    .footer-below-uw {
        margin: 0.5rem 0;
    }
}
