body{
  background-color: black 50%;
  max-width: 100%;
}
.carousel-container{

  position:relative;
  
 
}
.main{
    text-align: center;
    margin-top:30px ;
    /* margin-bottom:35%; */
    
  }
  .flex_row{
    justify-content: center;
    
    display: flex;
    /* margin-bottom: 29.5%; */
    
  }
  .text-box {
    border: 3px;
    border-style: outset;
    align-items: center;
    
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.735);
    padding: 20px;
    display: inline-block;
    margin: 20px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0; /* Make it invisible by default */

  
  }
  .flex_row h1 {
    cursor: pointer;
    padding: 5px;
    user-select: none; /* Prevent text selection */
    
    ;
  }
  .flex_row h1.active {
    color: #ff0000; /* Change the color for the active indicator */
  }
  
  /* Transition in when the "active" class is added */
  .active-text {
    align-items: center;
    opacity: 1;
    width:80%
  
  }
  .backward-button, .forward-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em; /* Adjust size as needed */
    background: none;
    border: none;
    cursor: pointer;
  }
  .backward-button {
  left:10px; /* Adjust as needed */
}

.forward-button {
  right: 10px; /* Adjust as needed */
} 
.active{
    align-items: center;
    background:none;
    border:none;
  }
.nonactive {
    align-items: center;
    background:none;
    border:none;
  }
.nonactive:hover{
    align-items: center;
    color:white;
  }
@media (max-width: 960px) {
  .text-box {
    width: 80%; /* or any percentage or fixed width you want */      margin: 0 auto; /* centers the box if it's not already */    padding: 15px; /* reduce padding if you want */
    font-size: smaller; /* you already have this */
    /* any other adjustments you want to make */
  }
  .backward-button{
     left:-10px
   }
  .forward-button{
    right:-10px
  }
 }