.course_ir_card {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    margin: 3rem 3rem 3rem 1rem;
}

.course_ir_card_title {
    

}